@import "settings";
@import "foundation-emails";

$primary-font: Arial, sans-serif;
$secondary-font: "Times New Roman", serif;
$minor-font: Helvetica, sans-serif;

$accent-color: #ffd44c;
$dark-color: #212121;

html {
  box-sizing: border-box;
  overflow: auto;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  color: $dark-color;
}

.decor-line {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  background-color: #ebebeb;

  @media screen and (max-width: $global-breakpoint) {
    display: none;
  }
}

.header {
  .header__row {
    background-color: $white;
  }

  .header__columns {
    padding-top: 40px;
  }

  .header__link {
    font-family: $primary-font;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    color: #9c9c9c;
    text-decoration: underline;
    opacity: 0.6;
  }

  .header__logo-img {
    width: 190px;
    height: 30px;
    margin-top: 45px;
    margin-bottom: 18px;
  }

  .header__text {
    margin-bottom: 30px;
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    color: $dark-color;
  }

  .header__container {
    background-color: $black;
  }

  .header__wide {
    background-color: $black;
  }

  .header__menu-cols {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header__menu-item {
    vertical-align: middle;
    height: 40px;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    padding: 5px !important;

    @media screen and (max-width: $global-breakpoint) {
      height: auto;
    }
  }

  .header__menu-item a:hover {
    color: $accent-color;
  }

  .header__menu-item--first a {
    color: $accent-color !important;
  }

  .header__menu-item--5 {
    @media screen and (max-width: $global-breakpoint) {
      height: 0 !important;
    }
  }

  .header__menu-item-line {
    width: 1px;
    height: 38px;
    margin-left: 10px;
    background-color: #555555;

    @media screen and (max-width: $global-breakpoint) {
      display: none;
    }
  }

  .header__menu-item--last p {
    margin-top: 7px;
  }

  .header__tel {
    display: inline-block;
    color: $white;
    cursor: pointer;
  }

  .header__menu-img {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    cursor: default;

    @media screen and (max-width: $global-breakpoint) {
      margin-top: 5px;
    }
  }
}

.hero {
  .hero__container {
    width: 100%;
    max-width: 1000px;
    background: url("https://i.ibb.co/c3CLpVh/hammer.jpg") no-repeat;
    background-position: center top;
    background-size: cover;

  }

  .hero__cols {
    display: block;
    width: 580px;
    padding-top: 80px;
    margin: 0 auto;
  }

  .hero__explain {
    margin-bottom: 15px;
    font-family: $minor-font;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    color: $white;
  }

  .hero__title {
    color: $white;
    font-family: $secondary-font;
    font-size: 46px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 150px;
  }
}

.attempt {
  .attempt__cols {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .attempt__text {
    font-family: $minor-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $dark-color;
  }

  .attempt__text--greeting {
    margin-bottom: 20px;
  }

  .attempt__text--main {
    margin-bottom: 50px;
  }

  .attempt__btn {
    display: block;
    width: 270px;
    height: 50px;
    padding-top: 15px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 2px;
    text-align: center;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: $white;

    &:hover {
      background-color: $white;
      color: $primary-color;
    }

    &:active {
      background-color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}

.features {
  .features__title {
    margin-bottom: 40px;
  }

  .features__row--lower {
    margin-bottom: 20px;
  }

  .features__item {
    margin-bottom: 40px;

    @media screen and (max-width: $global-breakpoint) {
      padding-left: 20px;
    }
  }

  .features__row-separator {
    border-spacing: 5px;
    border-collapse: separate;
  }

  .features__number th {
    font-family: $secondary-font;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    color: $accent-color;
  }

  .features__text {
    vertical-align: middle;
  }

  .features__text th {
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: $dark-color;
  }

  .features__text-span {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #7a7a7a;
  }
}

.meetings {
  padding-top: 20px;
  padding-bottom: 70px;

  .meetings__title {
    margin-bottom: 40px;
  }

  .meetings__item {
    padding-bottom: 50px;
  }

  .meetings__date {
    margin-bottom: 15px;
    font-family: $minor-font;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    color: $dark-color;
  }

  .meetings__text {
    padding-right: 20px;
    margin-bottom: 25px;

    @media screen and (max-width: $global-breakpoint) {
      padding-right: 0 !important;
    }
  }

  .meetings__btn {
    color: $primary-color;
  }

  .meetings__btn--bordered {
    display: block;
    width: 255px;
    height: 50px;
    padding-top: 15px;
    background-color: $white;
    border: 1px solid $primary-color;
    text-align: center;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

    @media screen and (max-width: $global-breakpoint) {
      margin: 0 auto;
    }

    &:hover {
      background-color: $primary-color;
      color: $white;
    }

    &:active {
      color: $primary-color;
      background-color: $white;
    }
  }

  .meetings__btn--underlined {
    display: block;
    width: 50%;
    text-align: left;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;

    @media screen and (max-width: $global-breakpoint) {
      margin: 0 auto;
      text-align: center !important;
    }
  }
}

.testimonials {
  .testimonials__row--center {
    margin-bottom: 50px;
  }

  .testimonials__row--lower {
    margin-bottom: 80px;
  }

  .testimonials__title {
    margin-bottom: 40px;
  }

  .testimonials__decor-cols {
    @media screen and (max-width: $global-breakpoint) {
      display: none;
    }
  }

  .testimonials__img-wrapper {
    margin-bottom: 10px;

    @media screen and (max-width: $global-breakpoint) {
      width: 100%;
      text-align: center;
    }
  }

  .testimonials__img {
    width: 96px;
    height: 96px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .testimonials__client-name {
    margin-bottom: 5px;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $dark-color;
  }

  .testimonials__client-status {
    margin-bottom: 5px;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #6d6d6d;
  }

  .testimonials__text {
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $dark-color;
  }

  .testimonials__img-wrapper {
    @media screen and (max-width: $global-breakpoint) {
      text-align: center;
    }

    display: inline-block;
  }

  .testimonials__star-img {
    display: inline-block;
  }

  .testimonials__btn {
    display: block;
    width: 380px;
    height: 50px;
    padding-top: 15px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 2px;
    text-align: center;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: $white;

    &:hover {
      background-color: $white;
      color: $primary-color;
    }

    &:active {
      color: $white;
      background-color: $primary-color;
    }
  }
}

.speaker {
  .speaker__row {
    margin-bottom: 40px;
  }

  .speaker__img {
    width: 96px;
    height: 96px;
    margin-bottom: 10px;
  }

  .speaker__name {
    margin-bottom: 9px;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;
    color: $dark-color;
  }

  .speaker__text {
    font-family: $primary-font;
    font-size: 13.5px;
    font-weight: 400;
    color: #6d6d6d;
  }

  .speaker__sign-img {
    display: block;
    width: 140px;
    height: 70px;
    margin-top: 20px;
  }
}

.socials {
  .socials__row {
    background-color: #fafafa;
  }

  .socials__cols {
    padding: 10px 0;
  }

  .socials__link {
    display: inline-block;
    margin: 15px;
  }

  .socials__img {
    width: 45px;
    height: 45px;
  }
}

.footer {
  background-color: $black;

  .footer__row {
    background-color: $black;
  }

  .footer__text {
    margin: 20px 5px;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #9c9c9c;
  }

  .footer__link {
    color: $accent-color;
    text-decoration: underline;
  }
}
